  <link rel="stylesheet" href="<?php echo site_url('assets/css/ol.css'); ?>" type="text/css">
<script src="<?php echo site_url('assets/build/ol.js'); ?>"></script>
<br/>

 <div id="map" class="map"><div id="popup"></div></div>

<script type="text/javascript">
    // init map
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.MapQuest({layer: 'osm'}) // Street map -> osm
            })
        ],
        // post on map
        view: new ol.View({
            center: ol.proj.fromLonLat([116.97,-2.56]),
            zoom: 5
        })
    });

    var vectorSource = new ol.source.Vector({
        //create empty vector
    });

    var markers = [];

    function AddMarkers() {
        var markers = [
           [ 113.57, -6.72, 'Daerah1' ],
           [ 110.41, -7.73, 'Daerah2' ],
           [103.49, -0.35, 'Daerah3' ],
           [111.99, -8.04, 'Daerah4' ],
           [101.51,  -0.93, 'Daerah5' ],
           [107.68, -1.16, 'Daerah6' ]
        ];

        var latlong_array_length = markers.length;

        //create a bunch of icons and add to source vector
        for (var i=0;i<latlong_array_length;i++){
            var lon = markers[i][0];
            var lat = markers[i][1];

            var iconFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([lon,lat])),
                name:  markers[i][2] ,
            });
           
            vectorSource.addFeature(iconFeature);
        }

        //create the style
        var iconStyle = new ol.style.Style({
            image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                anchor: [0.5, 46],
                anchorXUnits: 'fraction',
                anchorYUnits: 'pixels',
                opacity: 0.75,
                src: '<?php echo site_url("/assets/img/map-marker.png") ?>'
            }))
        });

        //add the feature vector to the layer vector, and apply a style to whole layer
        var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
                style: iconStyle
            });
            return vectorLayer;
    }

    var element = document.getElementById('popup');

    var popup = new ol.Overlay({
      element: element,
      positioning: 'bottom-center',
     
    });
    // display popup on click
    map.on('click', function(evt) {
      var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature, layer) {
            return feature;
          });
      if (feature) {
        popup.setPosition(evt.coordinate);
        $(element).popover({
          'placement': 'top',
          'html': true,
          'content': feature.get('name')
        });
        $(element).popover('show');
      } else {
        $(element).popover('destroy');
      }
    });
    map.addOverlay(popup);

    var layerMarkers = AddMarkers();

    map.addLayer(layerMarkers);


    
 </script>