.main-content .page-content #monthproduction-chart {
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
}
.main-content .page-content #warehouse-chart {
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
}
.side-treeview {
	overflow-x: scroll;
	overflow-y: auto;
	height: 90vh;
	padding-left: 0;
}
.side-treeview h3 {
	margin-top: 0;
}
.side-treeview .jstree-icon {
	margin-right: 0;
}
/*.tab-head {
	padding-left: 0;
	padding-right: 0;
}*/
.jstree-node {
	font-size: 95%;
}
.jstree-leaf {
	margin-left: 5px !important;
}
.content-profile {
	padding-top: 0 !important;
}
.content-profile h2 {
	margin-top: 0;
}
.jstree-ocl {
	margin-right: -10px !important; 
}
